/*menu*/
.header-bottom-bottom{
    border-top: 4px solid #ff9900;

}


/*menu*/

#logo{
    font-size: 25px;
}
/*header*/
.zxc{
    text-align: center;
    color: #eb9316;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #5cb85c;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}
footer{
    background: #eaeaea;
    padding: 25px 0;
}
.intruduction-titile{
    color: #ed9c28;
    font-size: 20px;
}
#logo2{
    font-size: 30px;
    color: #4cae4c;
}
#logo3{
    font-size: 30px;
    color: #eb9316;
}
#search{
    width: 250px;
    float: left;
}

.main-menu{
    background-color: #5cb85c;
}
ul.menu>li{
    display: inline-block;

}
ul.menu>li a{
    color: #fff;
    padding: 8px 25px;

}
.page-heading{
    font-size: 16px;
    font-weight: bold;
}
.titile{
    color: #ed9c28;
    border-bottom : 1px solid #ddd ;
    text-align: left;
    margin-bottom: 15px;
}
.news-left{
    width: 75%;
    float: left;
}
.news-image{
    width: 26%;
    float: left;
}
.news-view{
    float: right;
    width: 73%;
}
.news-title {
    font-size: 14px;
}

.a:hover{
    color: #ed9c28;
}
.news-day{
    font-size: 13px;
    color: #8e8e8e;
    border-bottom: dashed 1px #d2d2d2;
    padding: 3px 0px 6px;
    margin-bottom: 10px;
}
.news-mota{
    font-size: 14px;
    line-height: 1.7;
    color: #4a4a4a;
}
.clear{
    clear: both;
    height: 16px;
    border-bottom: dashed 1px #d2d2d2;
}
.news-right{
    width: 23%;
    float: right;
}
.products-in-news2{
    position: absolute;
}
.products-in-news3{
    color: #333;
    display: block;
    padding: 8px 20px 7px 10px;
    border-top: 2px solid #fff;
    text-transform: capitalize;
    transition: all .5s;
    font-size: 14px;
    background: #efefef;
    line-height: 1.6;
}

.SHOW_menu_left{
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 37px;
    text-align: center;
    line-height: 37px;
    color: #ff9900;
    z-index: 99999;
}

.css-to-news-hot{
margin-top: 14px;
}
#myTopnav{
    background-color: #ffffff;
}
.menu1{
    background-color: #5cb85c;
}
.header-search-box{
    padding: 0 15px;
}
.form-inline{
    height: 41px;
    border: 1px solid #eaeaea;
    position: relative;
}
.input-serach{
    padding-top: 9px;
}
.input-serach input {
    border: none;
    padding-left: 15px;
    width: 100%;
}
.btn-search{
    width: 41px;
    height: 41px;
    background: #43af50 url("../images") no-repeat center center;
    border: none;
    border-left-color: currentcolor;
    border-left-style: none;
    border-left-width: medium;
    border-radius: 0;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: -1px;
    right: -1px;
}
.group-button-header a{
    border-left: 1px solid #ccc;
    padding-left: 15px;
    margin: 0px 0 0px 15px;
    display: inline-block;
    line-height: 1;
    color: #333;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
}
.group-button-header a:hover{
    color: #D6001F;
}
.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

#hello {
    text-align: center;
    color: white;
    font-size: 4em;
    line-height: 150px;
}
#sologan{
    text-align: center;
    color: white;

}
.content-bottom-tt {
    padding: 40px 0 20px;
    overflow: hidden;
    width: 100%;
}

.dv-tintuc {
    margin-bottom: 25px;
    padding: 12px;
    box-shadow: 2px 2px 10px #e0e0e0;
}
.dv-tinleft {
    width: 30%;
    float: left;
}
.content-bottom-tintuc img {
    border: 1px solid #ececec;
    width: 100%;
}
.dv-tinright {
    width: 70%;
    float: right;
    padding-left: 20px;
}
.dv-homett {
    height: 120px;
}
.dv-tinright .tit {
    width: 100%;
    text-align: left;
    max-height: 42px;
    overflow: hidden;
    margin-bottom: 7px;
}
.content-bottom-tintuc p {
    letter-spacing: 0;
    color: #7E7D7D;
    line-height: 1.7;
    font-size: 14px;
    height: 70px;
    overflow: hidden;
    margin-bottom: 15px;
    width: 100%;
}
.dv-tinright .tit a:hover, .dv-tinleft a:hover {
    background: none;
    color: #dc8606;
    text-decoration: none;
}
.dv-tinright .tit a, .dv-tinleft a {
    padding: 0;
    width: 100%;
    font-size: 16px;
    float: left;
    background: none;
    color: #4e4e4e;
    font-weight: 600;
}
.button{
    color: #ffffff;
    padding: 7px 12px;
    background: #43af50;
    border: 1px solid #eaeaea;
}
.button-cancel{
    padding: 7px 12px;
    background: #d43f3a;
    color: #fff;
    border: 1px solid #eaeaea;
}
.dv-sanpham-child:hover {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    padding: 10px;
}
.look h4 {
    font-size: 16px;
    text-transform: capitalize;
    margin: 12px 0 10px;
    line-height: 1.4;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.look h4 a {
    text-decoration: none;
    color: #2b2b2b;
}

.button:hover {
    background: #fa8334;
    border: 1px solid #fa8334;
}
.input {
    border-radius: 0px;
    border: 1px solid #eaeaea;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dv-sanpham-child {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    padding: 10px;
}
body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}
.look h4 {
    font-size: 16px;
    text-transform: capitalize;
    margin: 12px 0 10px;
    line-height: 1.4;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.price-sp {
    color: #f31818;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.price-sp .price-goc {
    font-weight: 500;
    font-size: 15px;
    margin-left: 5px;
    color: #8a8a8a;
    text-decoration: line-through;
}
.tag_link li a {
    background: whitesmoke;
    color: #333;
    padding: 7px 12px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    border: 1px solid #efeeee;
}
.tags_links li {
    list-style: none;
    float: left;

}
ul {
    padding: 0;
    margin: 0;
}
li{
    display: inline;
}
.tieude_tintuc{
    color: #1f1f1f;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}
.news-title a {
    font-weight: 600;
    font-size: 14px;
    color: #333;
}
.news-title a:hover {
    color: #ea0c0c;
    text-decoration: none;
}
/*css-scroll-top*/
.to-top{
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    background: #000;
    color: #fff;
    padding: 9px 12px;
    border-radius: 50%;
    cursor: pointer;
}
.to-top a:hover{
    background: #d7d7d7;
    color: #000;

}
/*css-scroll-top*/
.products-in-products{
    float: left;
    width: 73%;
}
.dv-sanpham{
    margin-bottom: 40px;
}
